<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- Twitter Streaming API settings.  Replace settings with your own -->
		<add key="oauth_consumer_key" value="KEY" />
		<add key="oauth_consumer_secret" value="SECRET" />
		<add key="oauth_token" value="TOKEN" />
		<add key="oauth_token_secret" value="SECRET" />

		<!-- Azure Cognitive Text Service API settings.  Replace settings with your own -->
		<add key="cognitive_service_key" value="KEY"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.1" newVersion="4.1.1.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>